.wave {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 194px;
}

.wave .shape-fill {
    fill: #86B7F6BA;
}